/* CSS */

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 2px solid #eee;
}

.title-section {
    height: 1px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: none;
    color: #eee;
}

.middle-title {
    margin: 40px 0 0 0;
    padding-top: 10px;
    border-top: 1px solid #eee;
}

.sample .row div {
    border: 1px solid #eee;
    color: #fff;
    background-color: #333;
}

